spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
    # Настройки HikariCP (Extra Task 1)
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: MyHikariPool

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

  profiles:

    active: jdbcclient